.bio {
  width: 80%;
  margin: auto;
  color: white;
  font-size: 1.8rem;
}

.introWrapper {
  position: relative;
  top: 150px;
  width: 100%;
}

.me {
  color: pink;
  font-size: 5.3rem;
}

.bioPic {
  max-width: 50vw;
  max-height: 48vh;
  margin: auto;
}

img {
  max-width: inherit;
  max-height: inherit;
  width: auto;
  padding:1px;
  border:1px solid #555;
}
