<div class="introWrapper">
  <div class="bioHeader">

  </div>
  <div class = "bio">
    <p><b class="me">I'm Josh,</b> I'm a software engineer at
      <span [appHighlight]="'assets/bioImages/amznHQ.jpg'">Amazon</span> in
      <span [appHighlight]="'assets/bioImages/sf.jpg'">San Francisco</span>.
      Originally from <span [appHighlight]="'assets/bioImages/lex.jpg'">
        outside Boston</span>, I went to school at the
        <span [appHighlight]="'assets/bioImages/ur.jpg'" > University of Rochester</span>
        where I <span [appHighlight]="'assets/bioImages/studying.png'">studied</span>
        <span [appHighlight]="'assets/bioImages/ur.jpg'"> Computer Science</span> and
        <span [appHighlight]="'assets/bioImages/schoolofathens.jpg'">Philosophy</span>.</p>
      </div>
      <div class="bioPic">
        <img *ngIf="showPic" src="{{currentImgUrl}}">
        </div>

      <div class="word-cloud-section">
        <app-wordcloud></app-wordcloud>
      </div>
    </div>
