.bio {
  width: 80%;
  margin: auto;
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

.introWrapper {
  position: relative;
  top: 150px;
  width: 100%;
}

.me {
  color: pink;
}

.bioPic {
  max-width: 50vw;
  max-height: 48vh;
  margin: auto;
  text-align: center;
}

img {
  max-width: inherit;
  max-height: inherit;
  width: auto;
  padding: 1px;
  border: 2px solid #aaa;
}
