.word-cloud {
  color: #243245;
  font-size: 1.7rem;
  position: relative;
  width: 80%;
  height: 50vh;
}

[appPhrase] {
  position: absolute;
  display: inline-block;
  width: auto;
}

[appPhrase]:hover {
  color: #ff9999;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.wordcloud-description{
  width: 80%;
  margin: auto;
  color: #ff9999;
  font-size: 1.3rem;
  text-align: center;
}
