.word-cloud {
  color: pink;
  font-size: 1.5rem;
  position: relative;
  width: 80%;
  height: 50vh;
  margin: auto;
}

[appPhrase] {
  position: absolute;
  display: inline-block;
  width: auto;
}

[appPhrase]:hover {
  color: orange;
}
