a:link, a:visited {
  color: whitesmoke;
  padding: 1px 25px;
  text-decoration: none;
  display: block;
  left: 0pt;
}

a:hover, a:active {
  color: orange;
}

.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 7px;
  font-size: 3rem;
  color: whitesmoke;
  margin: auto;
}

nav {
  margin: auto;
  font-size: 3rem;
}

.gitLogo {
  margin-top: 9px;
  width: 60px;
}

.twitterLogo {
  margin-top: 9px;
  width: 60px;
}

.liLogo {
  margin-top: 9px;
  width: 60px;
}


.me {
  color: pink;
  font-size: 1.7rem;
}

b {
  color: #fff;
}

p {
  color: white;
  font-size: 1rem;
}

#words {
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 70px;
}

body {
  text-align: center;
  height: 100%;
}

.word {
  font-size: 1.5rem;
}
