<div class="nav-container">
  <div class="nav">
    <app-greetings></app-greetings>
    <div class="nav-right">
      <!-- <nav><a routerlink="/home"><span [class.selected]="selected==='home'" class="navText">Home</span></a></nav>
      <nav><a routerlink="/bio"><span [class.selected]="selected==='bio'" class="navText">Bio</span></a></nav> -->
      <nav><a href="https://linkedin.com/in/jdpachter"><img class="liLogo" src="assets/LI-In-Bug.png"></a></nav>
      <nav><a href="https://twitter.com/JoshuaPachter"><img class="twitterLogo" src="assets/twitterLogo.png"></a></nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
