a:link, a:visited {
  color: whitesmoke;
  padding: 1px 25px;
  text-decoration: none;
  left: 0pt;
}

a:hover, a:active {
  color: #ff9999;
}

.page-container {
  width: 100%;
  height: 100%;
  background-color: #243245;
}

.nav {
  display: inline-flex;
  width: 100%;
  font-size: 3rem;
  position: relative;
}

.nav-right {
  display: inline-flex;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 15px;
}

nav {
  margin: auto;
  font-size: 3rem;
}

.navText {
  width: 40px;
  font-size: 1.5rem;
  &.selected {
    text-decoration: underline;
    font-weight: bold;
  }
}

.twitterLogo {
  width: 40px;
}

.liLogo {
  width: 40px;
}

.me {
  color: pink;
  font-size: 1.7rem;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  app-greetings {
    margin: auto;
  }

  .nav-right {
    display: inline-flex;
    margin: auto;
    padding-bottom: 15px;
  }
}
