html {
  height: 100%;
  color: red;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: red;
}

a {
  color: black;
  padding: 1px 25px;
  text-decoration: none;
}

a:hover,
a:active {
  color: #ff9999;
}

.nav {
  display: flex;
  font-size: inherit;
  position: relative;
  padding: 16px;
}

.nav-right {
  display: flex;
  margin-left: auto;
  padding-bottom: 15px;
}

.navText {
  font-size: 1.5rem;
  width: 40px;
}

.navText.selected {
  font-weight: bold;
  color: #ff9999;
}

.twitterLogo,
.liLogo {
  width: 40px;
}

.me {
  color: pink;
  font-size: 1.7rem;
}

@media screen and (max-width: 768px) {
  app-greetings,
  .nav-right {
    display: flex;
    margin: auto;
    padding-bottom: 15px;
  }
}
