<head>
  <meta charset="utf-8">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="app.component.scss">
</head>
<body>
  <div class = "navbar">
    <app-greetings></app-greetings>
    <nav><a href="https://github.com/jdpachter"><img class = "gitLogo" src = "assets/Git-Icon-White.png"></a></nav>
    <nav><a href="https://linkedin.com/in/jdpachter"><img class = "liLogo" src = "assets/LI-In-Bug.png"></a></nav>
    <nav><a href="https://twitter.com/JoshuaPachter"><img class = "twitterLogo" src = "assets/twitterLogo.png"></a></nav>
  </div>

  <div>
    <app-bio></app-bio>
  </div>

  </body>
