<div class="bioWrapper">
  <div class="bioHeader">
    <p><span class="header-center">I'm Josh! Here's my bio.</span>
      <br><br>
      I jot random thoughts in the Notes app often, an average of 60 words/day, and was curious what those words said about me.
      Turns out, exporting iOS notes into plain text is annoying (but possible). My most frequently used words are: <span class="top3">feel</span>, <span class="top3">people</span>, and <span class="top3">time</span> (not including <a href="https://gist.github.com/larsyencken/1440509">stop words</a>).
      <br><br>
      I <span class="top3">feel</span> strongly about personal technology (especially wearables), and autonomous robotics. Novel applications of AI/ML also pique my interest.
      <br><br>
      The <span class="top3">people</span> in my life inspire me and help me see clearly. My high school yearbook <a href="https://www.goodreads.com/quotes/218410-there-isn-t-anyone-you-couldn-t-love-once-you-ve-heard-their">quote was from a nun</a>: "There isn't anyone you couldn't love once you've heard their story."
      Where did this Jewish boy find that? Don't remember, but the quote still resonates with me.
      <br><br>
      In my spare <span class="top3">time,</span> you can find me walking or running through San Francisco's parks, spending quality time with friends, exploring (down the street counts, within my apartment doesn't), and singing quietly enough
      that I don't attract the attention of my neighbors (usually a failure).
      <br><br>
      "Amazon" is the ninth most frequently used word in my notes app. It's also where I currently work. There, I'm a Product Manager on a Zero-to-One incubator team that develops solutions to large-scale problems inside and outside Amazon's existing businesses.
      <br><br>
    </p>
  </div>
</div>
