<div class="bioWrapper">
  <div class="bioHeader">
    <p><span class="header-center">I'm Josh! Here's my bio.</span>
      <br><br>
      Since graduating in 2018, I've written an average of 43 words/day in my iPhone's notes app. That number grew to 67 words/day in the last year.
      My top 3 most frequently used words from those notes should say a lot about me. They are: <span class="top3">feel</span>, <span class="top3">people</span>, and <span class="top3">time</span> (not including <a href="https://gist.github.com/larsyencken/1440509">stop words</a>).
      <br><br>
      I <span class="top3">feel</span> strongly about personal tech (primarily wearables), and autonomy. Novel applications of AI/ML also pique my interest.
      <br><br>
      The <span class="top3">people</span> in my life inspire me and help me see clearly. My high school yearbook <a href="https://www.goodreads.com/quotes/218410-there-isn-t-anyone-you-couldn-t-love-once-you-ve-heard-their">quote</a> was: "There isn't anyone you couldn't love once you've heard their story."
      Lol. For better or for worse, this still resonates with me.
      <br><br>
      In my spare <span class="top3">time,</span> you can find me walking or running through San Francisco's parks, spending quality time with friends, exploring (down the street counts, within my apartment doesn't), and singing quietly enough
      that I don't attract the attention of my neighbors (usually a failure).
      <br><br>
      "Amazon" is the ninth most frequently used word in my notes app. It's also where I currently work. I'm a Product Manager on a Zero-to-One incubator team that develops solutions that to large-scale problems inside and outside Amazon's existing businesses.
      <br><br>
    </p>
  </div>
</div>
