.bioWrapper {
  display: flex;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  height: 100%;
}

a, a:link {
  color: #ff9999;
  text-decoration: underline;
}

img {
  width: 40vw;
  align-self: center;
}

.header-center {
  display: flex;
  text-align: center;
  font-size: -webkit-xxx-large;
  justify-content: center;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .bioImage {
    width: 80%;
    padding-top: 2%;
    display: flex;
    margin: auto;
  }
}
