<div class="bioWrapper">
  <div class="bioHeader">
    <h1 class = "about-me">
      About Me
    </h1>
    <p><b>I'm Josh!</b> I capture many of my thoughts in notes, and my most frequently used words in those notes are: <i class="top3">Feel</i>, <i class="top3">People</i>, and <i class="top3">Time</i> (not including <a href="https://gist.github.com/larsyencken/1440509">stop words</a>).
      Since graduating from the University of Rochester in 2018, I've captured an average of 43 words/day worth of thoughts. That number grew to 67 words/day in the last 365 days.
      <br><br>
      <i class="top3">I feel strongly</i> about personal tech (primarily wearables), and autonomy. Novel applications of AI/ML also peak my interest.
      <br><br>
      <i class="top3">The people in my life</i> inspire me and help me see clearly. My high school yearbook <a href="https://www.goodreads.com/quotes/218410-there-isn-t-anyone-you-couldn-t-love-once-you-ve-heard-their">quote</a> was: "There isn't anyone you couldn't love once you've heard their story."
      Despite its extreme corniness, this is still exactly how I feel.
      <br><br>
      <i class="top3">In my spare time,</i> you can find me walking or running through San Francisco's parks, writing (often an elaboration of notes), traveling (down the street counts, within my apartment doesn't), and singing quietly enough
      that I don't attract the attention of my neighbors (usually a failure).
      <br><br>
      <b>Amazon</b> is #9 in my list of most frequently used words in notes, and it is also where I currently work. There, I'm a Product Manager on a Zero-to-One incubation team. Our small team develops and validates new products that address large-scale problems inside and outside Amazon's existing businesses.
      <br><br>
    </p>
  </div>
</div>
