body {
  background-color: #031022;
}

a:link, a:visited {
  color: whitesmoke;
  padding: 1px 25px;
  text-decoration: none;
  display: block;
  left: 0pt;
}

p {
  margin-top: 0%;
  margin-bottom: 0%;
}

a:hover, a:active {
  color: orange;
}

.header {
  font-size: 36pt;
  font-family: "Avenir Next";
  color: whitesmoke;
  margin-top: 1pt;
  margin-left: 8%;
  display: block;
}

.nav {
  font-family: "Avenir Next";
  font-size: 18pt;
  margin-left: 8%;
  display: inline-block;
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

aside {
  font-family: "Avenir Next";
  font-size: 30pt;
  margin-left: 8%;
  display: inline-block;
  color: white;
}

#subheading {
  font-size: 18pt;
  font-family: "Avenir Next";
  color: orange;
  margin-top: 0pt;
  margin-left: 47%;
  margin-right: 35%;
  display: inline;
}

#abt {
  margin-top: 50pt;
}

#pic {
  margin-top: 5pt;
  margin-left: 40%;
  display: block;
  /*border:1.5px solid #e5e5e5;*/
  max-width: 100%;
}
